body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.logo {
    width: 5%;
    float: right;
    line-height: 100px;
}
h2, h3 {
    text-align: center;
}

.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

input[type="submit"], button {
    padding: 10px 15px;
    background: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    